.MainPhotoContainer{
    min-height : 90vh;
    background-image : url("../../Assets/header-bg.jpg");
    background-size : contain ;
    background-attachment: fixed;
    display : flex ;
    align-items:center ;
    justify-content: center ;
    color : white !important;
    text-align:center ;
}
.welcome{
    font-size : 30px;
    font-style: italic;
}
.title{
    font-size: 5rem;
    font-weight : bolder ;
    text-transform: capitalize;
}
.btn-warning {
    color : white !important;
    background-color : #fed136 !important;
    padding : 15px 10px  !important;
    width: 30% ;
    font-weight : bolder !important;
    font-size : 25px;
    text-transform: capitalize !important;
}
/* Experience Advisors */
.subTitle{
    color  :#002147 !important ;
}
.ElementContainer{
    position : relative ;
    overflow: hidden;
}
.TitleInfo{
    position: absolute ;
    bottom: 15px;
    left: 25px;
    right: 25px;
    height: 100px;
    background-color: white !important ;
    display: flex ;
    align-items:center ;
    justify-content: center ;
    font-weight: 100 ;
    transition:all 1000ms ease 0.35s ;
    -webkit-transition:all 1000ms ease 0.35s ;
    -moz-transition:all 1000ms ease 0.35s ;
    -ms-transition:all 1000ms ease 0.35s ;
    -o-transition:all 1000ms ease 0.35s ;
}
.TitleInfo .name{
    color : #002147 ;
}
.TitleInfo .jobTitle , .overLay .Link{
    color : #fed136 ;
}
.overLay{
    position : absolute ;
    bottom : 120% ;
    left : 25px;
    right : 25px;
    height : 90% ;
    background-color:  green ;
    transition-delay: 1000ms ;
    transition-duration: 1000ms ;
    background-color : rgba(0, 33, 71, 0.7);
    color : #fff ;
    display : flex ;
    align-items :  center ;
}
.overLay .Link{
    text-decoration: underline;
    font-weight: bold;
    font-size : 12px ;
}
.ElementContainer:hover .TitleInfo{
    bottom   : -150% ;
}
.ElementContainer:hover .overLay{
    bottom   : 15px ;
}
/* Contact Us */
.contactUs{
    background-image : url("../../Assets/map-image.png");
    background-size : 100% 100% ;
    min-height : 70vh ;
    display : flex ;
    align-items : center ;
    background-color :   rgba(0,0,0,.8);;
    color : white ;
}
@media(max-width:574px){
    .title{
        font-size : 3rem ;
    }
    .btn-warning{
        width : 50% ;
    }
}