body {
    font-family: "segoe ui light";
}
*::selection{
  background-color : #fed136 !important;
  color : white !important;
  
}
img {
  max-height : 100% !important;
  max-width: 100% !important ;
}