.navbar{
    background-color : rgba(0, 0, 0, .9)
}
.navbar-nav{
    margin-left : auto ;
}
.nav-link{
    font-size: 14px;
    font-weight: 500;
    padding: 1.1em 1em!important;
    letter-spacing: 1px;
    color: #fff !important;
    font-family: 'Montserrat Alternates', sans-serif;
}
.logo{
    color: #fed136 !important;
    font-size: 28px !important;
    font-family: 'Kaushan Script', cursive !important;
}
@media(max-width:991px){
    .navbar-nav{
        margin-left: 0px !important;
    }
}